{yun:}include file="$tplstyle/header.htm"{/yun} 
<!--[if lte IE 8]>
    <link href="css/iefixed.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{yun:}$style{/yun}/js/swfobject.js"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/high.js"></script>
<link href="{yun:}$style{/yun}/css/home.css" rel="stylesheet" type="text/css">
<link href="{yun:}$style{/yun}/css/highlight.css" rel="stylesheet" type="text/css">

{yun:}assign var=curr value=0{/yun}
{yun:}include file="$tplstyle/top.htm"{/yun}

    <div id="vivo-contain">
        <div class="focus-gallery">
                        	<ul class="cl"><!--high -->
<li class="high-x5pro">
	<a href="#" >
		<div class="high-box">
			<div class="figure">
                <img class="fg" src="http://www.e-forklift.cn/app/template/default/images/1.png" alt="x5pro" width="700" height="560">
            </div>
			<div class="high-title">
				<h2></h2>
				<h3><img src="http://www.e-forklift.cn/app/template/default/images/111.png" alt="x5maxact" width="366" height="167"></h3>
			</div>
		</div>
	</a>
</li>
				
<li class="high-x5maxs">
	<a href="#" >
		<div class="high-box">
			<div class="figure">
                <img src="http://www.e-forklift.cn/app/template/default/images/2.png" alt="x5maxpt" width="700" height="560">
            </div>
			<div class="high-title">
				<h2><img src="http://www.e-forklift.cn/app/template/default/images/22.png" alt="x5maxact" width="350" height="70"></h2>
				<h3><img src="http://www.e-forklift.cn/app/template/default/images/222.png" alt="x5maxpt" width="580" height="70"></h3>
			</div>
		</div>
	</a>
</li>

				 <li class="high-x3v"> 
        <a href="#">
          <div class="high-box">
            <div class="figure"><img src="http://www.e-forklift.cn/app/template/default/images/3.png" width="700" height="560"></div>
            <div class="high-title">
              <h2><img src="http://www.e-forklift.cn/app/template/default/images/33.png" width="570" height="120"></h2>
              <h3><img src="http://www.e-forklift.cn/app/template/default/images/333.png" width="450" height="70"></h3>
            </div>
          </div>
          </a>
   </li>

<li class="high-x5maxplus">
	<a href="#" >
		<div class="high-box">
			<div class="light"></div>
			<div class="figure"><img src="http://www.e-forklift.cn/app/template/default/images/4.png" width="700" height="560"></div>
			<div class="high-title">
				<h2><img src="http://www.e-forklift.cn/app/template/default/images/44.png" alt="x5maxact" width="350" height="70"></h2>
				<h3></h3>
				<h4><img src="http://www.e-forklift.cn/app/template/default/images/4444.png" alt="x5max+" width="380" height="70"></h4>
			</div>
		</div>
	</a>
</li>

<li class="high-xshotnew"> 
        <a href="#">
          <div class="high-box"> 
          		<em class="mask"><img src="http://www.e-forklift.cn/app/template/default/images/h-xshot-mask.png" width="700" height="560"></em>
           		<div class="high-title">
              	<h2><img src="http://www.e-forklift.cn/app/template/default/images/55.png"width="450" height="70"></h2>
                <h3><img src="http://www.e-forklift.cn/app/template/default/images/555.png" width="350" height="70"></h3>
            	</div>
          </div>
          </a> 
        </li>
				
<li class="high-x5">
	<a href="#" >
		<div class="high-box">
			<div class="figure">

				<b class="mob4"><img src="http://www.e-forklift.cn/app/template/default/images/h-x5-f4.png" alt="X5" width="710" height="680"></b>
			</div>
			<div class="high-title">
				<h2><img src="http://www.e-forklift.cn/app/template/default/images/66.png" width="570" height="120"></h2>
				<h3><img src="http://www.e-forklift.cn/app/template/default/images/666.png" width="470" height="70"></h3>
				<h4><img src="http://www.e-forklift.cn/app/template/default/images/h-x5-t3.png" width="366" height="127"></h4>
			</div>
		</div>
	</a>
</li>



<li class="high-y29">
	<a href="#" >
		<div class="high-box">
            <div class="move">
                <em class="mo1"><img src="http://www.e-forklift.cn/app/template/default/images/h-y29-move1.png" alt="y29" width="1990" height="1992"></em>
                <em class="mo2"><img src="http://www.e-forklift.cn/app/template/default/images/h-y29-move2.png" alt="y29" width="1990" height="1992"></em>
                <em class="mo3"><img src="http://www.e-forklift.cn/app/template/default/images/h-y29-move3.png" alt="y29" width="1990" height="1992"></em>
            </div>
			<div class="figure"><img src="http://www.e-forklift.cn/app/template/default/images/h-y29-figure.png" alt="y29" width="365" height="590"></div>
			<div class="high-title">
				<h2><img src="http://www.e-forklift.cn/app/template/default/images/77.png" alt="y29" width="570" height="70"></h2>
				<h3><img src="http://www.e-forklift.cn/app/template/default/images/777.png" alt="y29" width="470" height="70"></h3>
			</div>
		</div>
	</a>
</li>

</ul>
            <div class="switch-high"></div>
        </div>
        <div class="focus-event">
            <div class="focus-event-box">
                <div class="key-event">
                    <ul>
                        <li class="pic"><a href="{yun:}$adlist[32].url{/yun}"><img src="{yun:}$adlist[32].pic{/yun}" alt="画出最美的曲线"><i><b></b><h3>打开微信扫一扫</h3><p>打开微信扫一扫</p></i></a></li>
                        <li class="video">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase=",0,19,0" width="367" height="240">
<param name="movie" value="http://player.youku.com/player.php/sid/XODgwMDg5MTQ4/v.swf">
<param name="quality" value="high">
<param name="wmode" value="transparent">
<embed src="http://player.youku.com/player.php/sid/XODgwMDg5MTQ4/v.swf" quality="high" pluginspage=""; type="application/x-shockwave-flash" width="367" height="240"/></embed>
</object>
                        <!--<embed src="http://player.youku.com/player.php/sid/XMTI4MzI5OTEwMA==/v.swf" allowfullscreen="true" quality="high" width="368" height="240" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
                            <embed src="http://player.youku.com/player.php/sid/XODgwMDg5MTQ4/v.swf" allowfullscreen="true" quality="high" width="368" height="240" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>-->
                        </li>
                        <li class="pictext"><a href="{yun:}url m=cars{/yun}"><img src="{yun:}$adlist[34].pic{/yun}" alt="{yun:}$adlist[34].ad_name{/yun}"><i><b></b><h3>产品 挑选器</h3><p>找到适合您工况的车型</p></i></a></li>
                    </ul>
                </div>
                <style>
                    .key-event .pic, .key-event .video, .key-event .pictext{float:left;display:inline-block;}
                </style>
                <div class="social-event">
                    <div class="social-section cl">
                        <div class="forum-views">
                            <h2><b></b><span>E动态</span></h2>
                            <div class="forum-high cl">
                                {yun:}foreach from=$dongtai_class_list item=one{/yun}
                                {yun:}foreach from=$one.pic item=two{/yun}
                                <a href="{yun:}url m=article c=show id=$two.id{/yun}" class="high-a"><img src="{yun:}formatpicurl path=$two.newsphoto{/yun}" alt="{yun:}$two.title{/yun}"></a>
                                {yun:}/foreach{/yun}
                                {yun:}/foreach{/yun}
                            </div>
                            <div class="forum-list">
                                <ul class="cl">
                                    {yun:}foreach from=$dongtai_class_list item=one{/yun}
                                    <li class="list-a">
                                        {yun:}foreach from=$one.nopic item=two{/yun}
                                        <a href="{yun:}url m=article c=show id=$two.id{/yun}"><span class="n">{yun:}$two.class_name{/yun}</span>{yun:}$two.title{/yun}</a>
                                        {yun:}/foreach{/yun}
                                    </li>
                                    {yun:}/foreach{/yun}
                                </ul>
                            </div>
                        </div>
                        <div class="event-box">
                            <div class="event-switch">
                                <a href="#" class="prev"></a><strong></strong><a href="#" class="next"></a>
                            </div>
                            <ul>
                                {yun:}foreach from=$chache_class_list item=one{/yun}
                                <li class="media">
                                    <h2><b></b><span>{yun:}$one.name{/yun}</span></h2>
                                    <div class="event-content">
                                        <dl class="cl">
                                            {yun:}foreach from=$one.pic item=two{/yun}
                                            <dd class="first cl">
                                                <a href="{yun:}url m=school c=show id=$two.id{/yun}" class="event-pic"><img src="{yun:}formatpicurl path=$two.newsphoto{/yun}"></a>
                                              <h3><a href="{yun:}url m=school c=show id=$two.id{/yun}">{yun:}$two.title{/yun}</a></h3>
                                                <p>{yun:}$two.content{/yun}</p>
                                                <a href="{yun:}url m=school c=show id=$two.id{/yun}" class="join-now">查看详情</a>
                                            </dd>
                                            {yun:}/foreach{/yun}
                                        </dl>
                                    </div>
                                </li>                                
                                {yun:}/foreach{/yun}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{yun:}assign var=isshowlink value=1{/yun}    
{yun:}include file="$tplstyle/footer.htm"{/yun} 