<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {yun:}block name="charset"{/yun}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {yun:}/block{/yun}

        {yun:}block name="seo"{/yun}
        <title>华人螺丝网-人气最旺的紧固件|标准件|螺栓|螺母|螺钉|铆钉|垫圈专业网</title>
        <meta name="keywords" content="紧固件,标准件,螺丝,螺栓,螺母,螺钉,垫圈">
        <meta name="description" content="买螺丝找华网！紧固件免费采购热线：400-700-9799 华人螺丝网成立于2004年，是紧固件行业人气最旺的网上贸易平台，作为中国紧固件工业协会官方指定网站，旗下包括华人螺丝出口网、《螺丝产业大全》、《华人螺丝》杂志、上海紧固件专业展等品牌。主要提供标准查询：DIN德标、IFI美标、JIS日标、GB国标等免费标准查询；网上的产品供求信息包括：标准紧固件、非标紧固件、高强度紧固件、不锈钢紧固件、螺丝设备、模具、螺栓、螺母、螺柱、螺钉、自攻螺钉、木螺钉、垫圈、挡圈、销、铆钉、组合件、连接副、焊钉等；螺丝商学院的大讲坛、人才市场更是行业最火爆的交流社区，加上专业及时的行业资讯、展会信息等，华人螺丝网是您做生意、交朋友、学知识的最佳平台！">
        {yun:}/block{/yun}

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=1200" />
        <meta name="copyright" content="vivo" />
        <meta name="author" content="uimix, http://www.uimix.com" />

        {yun:}block name="javascript"{/yun}
        <script type="text/javascript" src="{yun:}$style{/yun}/js/analytics.js" async=""></script>
        <script type="text/javascript" src="{yun:}$style{/yun}/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{yun:}$style{/yun}/js/base.js"></script>
        <script type="text/javascript" src="{yun:}$style{/yun}/js/jquery.cookie.js"></script>
        <script type="text/javascript">
            var current_user_id = "-1";
            Luosi.current_user={'id':-1,'membertype':-1,'nickname':'','avatar':''};
            var DEFAULT_COOKIEDOMAIN = '.luosi.com';</script>

        <script type="text/javascript" src="{yun:}$style{/yun}/css/logger.js"></script>
        {yun:}/block{/yun}

        {yun:}block name="css"{/yun}
        <link href="{yun:}$style{/yun}/css/comm.css" rel="stylesheet" type="text/css">
        <link href="{yun:}$style{/yun}/css/home.css" rel="stylesheet" type="text/css">
        <link href="{yun:}$style{/yun}/css/bdsstyle.css" rel="stylesheet" type="text/css">
        {yun:}/block{/yun}
    </head>

    <body>

        {yun:}block name="content"{/yun}

        {yun:}/block{/yun}

        {yun:}block name="copyright"{/yun}
        <div class="clear"></div>
        <div class="footerWraper">
            <div class=" footer">
                <div class="nav">
                    <div class="nav_overall">
                        <div class="f_01">
                            <h2 class="t_1">会员指南</h2>
                            <ul>
                                <li><a href="http://www.luosi.com/registerselect.html" rel="nofollow" target="_blank">免费注册</a></li>
                                <li><a href="http://www.luosi.com/getpassword.html" rel="nofollow" target="_blank">找回密码</a></li>
                                <li><a href="http://www.luosi.com/about/index.html" rel="nofollow" target="_blank">常见问题</a></li>
                                <li><a href="javascript:void(0);" onclick="window.open(&#39;http://www.53kf.com/webCompany.php?arg=ebseek&amp;style=1&amp;kflist=off&amp;kfstat=0&amp;zdkf_type=1&#39;,&#39;_blank&#39;,&#39;height=473,width=703,fullscreen=3,top=200,left=200,status=no,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no,fullscreen=no&#39;);return false;">在线客服</a></li>
                            </ul>
                        </div>
                        <div class="f_01">
                            <h2 class="t_2">买家服务</h2>
                            <ul>
                                <li><a href="http://trade.luosi.com/" title="螺丝供应" target="_blank">找产品</a></li>
                                <li><a href="http://trade.luosi.com/fastpostbuy.html" rel="nofollow" target="_blank">发采购信息</a></li>
                                <li><a href="http://yellowpage.luosi.com/search.html" title="紧固件厂商" target="_blank">找厂商</a></li>
                                <li><a href="http://yellowpage.luosi.com/" title="螺丝厂商" target="_blank">五金市场</a></li>
                                <li><a href="http://yellowpage.luosi.com/categorylist.html" title="紧固件厂商地域分布" target="_blank">紧固件热点地区</a></li>
                                <li><a href="http://www.luosi.com/service/facetoface.html" rel="nofollow" target="_blank">采购洽谈会</a></li>
                            </ul>
                        </div>
                        <div class="f_02">
                            <h2>华网服务</h2>
                            <ul>
                                <li><a href="http://www.luosi.com/service/vipmember.html" rel="nofollow" target="_blank">诚信易VIP</a></li>
                                <li><a href="http://www.luosi.com/service/jobmember.html" rel="nofollow" target="_blank">招聘会员</a></li>
                                <li><a href="http://www.chinafastener.com/service/aboutchinafastener_cn.htm" rel="nofollow" target="_blank">CAS会员</a></li>
                                <li><a href="http://www.luosi.com/service/topsearch.html" rel="nofollow" target="_blank">搜索排名三甲</a></li>
                                <li><a href="http://daquan.luosi.com/" title="螺丝产业大全" target="_blank">螺丝产业大全</a></li>
                                <li><a href="http://magazine.luosi.com/" title="螺丝出口杂志" target="_blank">出口杂志</a></li>
                                <li><a href="http://www.fastenerexpo.cn/" title="紧固件展" target="_blank">紧固件展</a></li>
                                <li><a href="http://news.luosi.com/" title="螺丝新闻" target="_blank">看行业新闻</a></li>
                                <li><a href="http://standard.luosi.com/" title="紧固件标准" target="_blank">查紧固件标准</a></li>
                                <li><a href="http://bbs.luosi.com/classroom.html" title="螺丝大讲堂" target="_blank">发贴提问</a></li>
                                <li><a href="http://job.luosi.com/" title="紧固件人才招聘" target="_blank">招聘/找工作</a></li>
                            </ul>
                        </div>
                        <div class="f_01">
                            <h2 class="t_4">其它</h2>
                            <ul>
                                <li><a href="http://www.luosi.com/about/aboutus.html" rel="nofollow" target="_blank">关于我们</a></li>
                                <li><a href="http://www.luosi.com/about/newslist.html" rel="nofollow" target="_blank">华网动态</a></li>
                                <li><a href="http://www.luosi.com/about/links.html" rel="nofollow" target="_blank">友情链接</a></li>
                                <li><a href="http://www.luosi.com/about/message.html" rel="nofollow" target="_blank">网上留言</a></li>
                                <li><a href="http://www.luosi.com/service/contact.html" rel="nofollow" target="_blank">联系方式</a></li>
                            </ul>
                        </div>
                        <div class="f_01">
                            <h2 class="t_5">关注我们</h2>
                            <ul>
                                <li><a href="http://e.weibo.com/luosi1220" rel="nofollow" target="_blank"><img src="{yun:}$style{/yun}/images/index_navigation_xlwb.gif">新浪微博</a></li>
                                <li><a href="http://bbs.luosi.com/details-828994.html" target="_blank"><img src="{yun:}$style{/yun}/images/index_navigation_wx.gif">我的微信</a></li>
                                <li><input type="text" name="weeklyemail1" id="weeklyemail1" style="width: 130px; height: 18px; line-height: 18px; float: left; padding: 0px 3px; border: 1px solid rgb(204, 204, 204); color: rgb(153, 153, 153);" placeholder="订阅周刊，输入Email" value="" onfocus="if (this.value == &#39;订阅周刊，输入Email&#39;) { this.value = &#39;&#39;; }"><input type="button" style="width:50px;height:20px;float:left;cursor:pointer;border:0px;background:url(/images/home/btn_subscribe.png) no-repeat;margin:5px 0 0 0;" value="" id="Subscribebtn1" onclick="Subscribe1()"></li>
                                <!-- 百度分享Code -->
                                <li>
                                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                                        <a class="bds_qzone" title="分享到QQ空间" href="http://www.luosi.com/#"></a>
                                        <a class="bds_tsina" title="分享到新浪微博" href="http://www.luosi.com/#"></a>
                                        <a class="bds_tqq" title="分享到腾讯微博" href="http://www.luosi.com/#"></a>
                                        <a class="bds_renren" title="分享到人人网" href="http://www.luosi.com/#"></a>
                                        <span class="bds_more"></span>
                                    </div>
                                    <script type="text/javascript" id="bdshare_js" data="type=tools" src="./首页_files/bds_s_v2.js"></script>

                                    <script type="text/javascript">
                                        document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
                                    </script>
                                </li>
                                <!-- 百度分享Code -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="trademark">
                        <p>核心产品： <a href="http://www.luosi.com/service/vipmember.html" rel="nofollow" target="_blank">诚信易VIP会员</a> | <a href="http://www.chinafastener.com/service/aboutChinaFastener_cn.aspx" rel="nofollow" target="_blank">CAS高级会员</a> | <a href="http://daquan.luosi.com/" title="螺丝产业大全" target="_blank">《螺丝产业大全》</a> | <a href="http://magazine.luosi.com/" title="《华人螺丝》英文杂志" target="_blank">《华人螺丝》英文杂志</a> | <a href="http://www.fastenerexpo.cn/" title="上海紧固件专业展" target="_blank">紧固件展</a> | <a href="./首页_files/首页.html" title="华人螺丝网" target="_blank">华人螺丝网</a> | <a href="http://www.chinafastener.com/" title="华人螺丝出口网" target="_blank">华人螺丝出口网</a> | <a href="http://ceo.fastenerexpo.cn/" title="紧固件CEO大会" target="_blank">紧固件CEO大会</a><br>服务热线：400-700-9799  传真：020-62824255   E-mail：luosi#luosi.com(请把#改成@)   经营许可证编号：<a>粤B2-20061034</a><br>中国机械通用零部件工业协会紧固件分会 官方指定网站 中国行业电子商务网站 第一名  华人地区螺丝产业第一门户! 紧固件标准件商机资讯之源!<br>Copyright @ 2004-2015 luosi.com All Rights Reserved</p>
                        <ul>
                            <li><a href="javascript:void(0);" rel="nofollow" title="网站备案信息4401110100013"><img src="{yun:}$style{/yun}/images/index_trademark_s_1.gif" width="134" height="46"></a></li>
                            <li><a href="http://www.miitbeian.gov.cn/" rel="nofollow" title="粤ICP备10052550号" target="_blank"><img src="{yun:}$style{/yun}/images/index_trademark_s_2.gif" width="133" height="46"></a></li>
                            <li><a title="红盾服务维权工作站" target="_blank"><img src="{yun:}$style{/yun}/images/index_trademark_s_3.gif" width="126" height="46"></a></li>
                            <li><a href="http://www.sznet110.gov.cn/webrecord/innernet/Welcome.jsp?bano=44030010435899" rel="nofollow" title="公共信息安全网络监察" target="_blank"><img src="{yun:}$style{/yun}/images/index_trademark_s_4.gif" width="127" height="46"></a></li>
                            <li><a href="http://www.anquan.org/authenticate/cert/?site=www.luosi.com&sn=2013080710405773810" title="安全联盟可信认证" rel="nofollow" target="_blank"><img src="{yun:}$style{/yun}/images/anquan124x47.png" width="124" height="47"></a></li>

                            <li><a href="http://webscan.360.cn/index/checkwebsite/url/luosi.com" rel="nofollow" title="630网站安全检测" target="_blank"><img src="{yun:}$style{/yun}/images/index_trademark_s_6.gif" width="121" height="45"></a></li>
                        </ul>
                    </div>
                    <div class="trademark_01"><img src="{yun:}$style{/yun}/images/index_trademark_wx2.gif"></div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="./首页_files/home.js"></script>

        <script type="text/javascript" src="./首页_files/focus.js"></script>

        <script type="text/javascript" src="./首页_files/scrolltopcontrol.js"></script>

        <script type="text/javascript" src="./首页_files/index.js"></script>

        <script type="text/javascript" src="./首页_files/couplet_ad.js"></script><div id="ALayer1" style="left:12px;PosITION:absolute;TOP:148px;FILTER: alpha(opacity=100);"><a href="http://magazine.luosi.com/" target="_blank"><img id="leftfloatad" src="./首页_files/leftsmallad.gif"></a><div align="left"><img src="{yun:}$style{/yun}/images/couplet_close.gif" border="0" onclick="closeBanner();"></div></div><div id="ALayer2" style="right:12px;PosITION:absolute;TOP:148px;FILTER: alpha(opacity=100);"><a href="http://srcrivet.luosi.com/" onclick="window.open(&#39;http://www.srcrivet.com/&#39;,&#39;_blank&#39;);" target="_blank"><img id="rightfloatad" src="./首页_files/rightsmallad.gif"></a><div align="right"><img src="{yun:}$style{/yun}/images/couplet_close.gif" border="0" onclick="closeBanner();"></div></div>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-12297841-1', 'auto');
            ga('send', 'pageview');

        </script>
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fffc895b1bdff96a1a7e70e1be61d1a1f' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="{yun:}$style{/yun}/js/h.js" type="text/javascript"></script>
        <script type="text/javascript">

            /*
            var nowdate = new Date();

            if ($.cookie("indexboxdayshow") == nowdate.getYear() + "-" + nowdate.getMonth() + "-" + nowdate.getDate()) {
                $("#danchu").hide();
            }
            else {
                $("#danchu").show();
                $.cookie("indexboxdayshow", nowdate.getYear() + "-" + nowdate.getMonth() + "-" + nowdate.getDate(), { expires: 60 * 24 * 365, path: "/", domain: ".luosi.com" });
            }

            function close_dc() { $("#danchu").hide(); }

            setTimeout("close_dc()", 18000);
            */

            $(function () {
                var _wrap = $('#ulbuylist'); //定义滚动区域
                var _interval = 3000; //定义滚动间隙时间
                var _moving; //需要清除的动画
                _wrap.hover(function () {
                    clearInterval(_moving); //当鼠标在滚动区域中时,停止滚动
                }, function () {
                    _moving = setInterval(function () {
                        var _field = _wrap.find('li:first'); //此变量不可放置于函数起始处,li:first取值是变化的
                        var _h = _field.height(); //取得每次滚动高度
                        _field.animate({ marginTop: -_h + 'px' }, 600, function () {//通过取负margin值,隐藏第一行
                            _field.css('marginTop', 0).appendTo(_wrap); //隐藏后,将该行的margin值置零,并插入到最后,实现无缝滚动
                        })
                    }, _interval)//滚动间隔时间取决于_interval
                }).trigger('mouseleave'); //函数载入时,模拟执行mouseleave,即自动滚动
            });

            //
            $.ajax({
                async: false,
                cache: false,
                timeout: 6E4,
                type: "post",
                url: "/Ajax/IndexAjaxPage.aspx?t=addpageopenlog",
                data: { pageid: 0 },
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {
                },
                error: function () {
                }
            });
            //

        </script>


        <div style="z-index: 101; position: fixed; bottom: 104px; right: 0px; opacity: 0; cursor: pointer;" id="topcontrol" class="back_top" title="返回顶部"><a href="http://www.luosi.com/###" title="返回顶部"></a></div>
        {yun:}/block{/yun}

        {yun:}block name="link"{/yun}
        <div class="footer">
            <div class="wd">
                <div class="lm-footer">
                    <p class="footer-nav">
                        友情链接：
                        {yun:}link type=1 tem_type=2 item=linklist2 key=key{/yun} {yun:}if $key>0{/yun}|{yun:}/if{/yun}<a href="{yun:}$linklist2.link_url{/yun}"> {yun:}$linklist2.link_name{/yun}</a>{yun:}/link{/yun}
                    </p>
                </div>
            </div>
        </div>
        {yun:}/block{/yun}

    </body>
</html>