{yun:}include file="$tplstyle/header.htm"{/yun}

<link href="{yun:}$style{/yun}/css/global-base.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{yun:}$style{/yun}/js/jquery.js"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/common.js"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/nav.js"></script>


<link href="{yun:}$style{/yun}/css/style.css" rel="stylesheet" type="text/css" />
<link href="{yun:}$style{/yun}/css/jquery.fullpage.css" rel="stylesheet" type="text/css" />
<script src="{yun:}$style{/yun}/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/jquery.fullpage.min.js" type="text/javascript"></script>
<script src="{yun:}$style{/yun}/js/public.js" type="text/javascript"></script>

{yun:}assign var=curr value=1{/yun}
{yun:}include file="$tplstyle/top.htm"{/yun}

<script>
    $(function () {
        $.fn.fullpage({
            slidesColor: ['#83D1E7', '#EBEBEB', '#F2F2F2', '#EAEAEA', '#EAEAEA'],
            anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
            navigation: true,
            afterLoad: function (anchorLink, index) {
                if (index == 2) {
                    $('.section3').find('p').delay(500).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                    var i = 0;
                    $("#page_3_ctr >ul> li >img").each(function () {
                        var height = $(this).attr('height');
                        $(this).delay(i * 80).animate({ 'height': 0, 'padding-top': height / 2 });
                        $(this).animate({ 'height': height, 'padding-top': 0 }, 200);
                        i = i + 1;
                    });
                }
            }
        });
        var ch = document.documentElement.clientHeight;
        var cw = document.documentElement.clientWidth;
        $("img.sec-img").each(function () {
            var width = 1920;
            var height = 709;
            var _w = parseInt((ch - 80) * width / height);
            var left = 0 - parseInt((_w - cw) / 2)

            $li_width = $(this).parent().width();
            $(this).css({ 'height': ch - 80, 'width': _w, 'margin-top': 80, 'margin-left': left });
        });
        $("#brand_pro").css({ 'height': ch - 80, 'padding-top': 80 });
        $("#brand_pro_txt").css({ 'height': 70 * (ch - 80) / 709 });
        $("#page_3_ctr").css({ 'left': (cw - 810) / 2, 'top': ch - 63 - 10 });
        $("#page_3_ctr >ul> li").click(function () {
            _left = $(this).attr('data-rel') * (ch - 80) / 709 - cw / 2;
            $("#brand_pro").animate({ 'margin-left': -_left });
        });
        $("#page_3_ctr >ul> li").hover(
            function () {
                if ('h' != $(this).attr('data-h')) {
                    var height = $(this).find('img').attr('height');
                    $(this).find('img').animate({ 'height': 0, 'padding-top': height / 2 }, 200);
                    $(this).find('img').animate({ 'height': height, 'padding-top': 0 }, 200);
                    $(this).attr('data-h', 'h');
                }
            },
            function () { $(this).stop(); $(this).attr('data-h', 'hh'); }
        );

        $("footer").css({ 'width': cw, 'top': ch - 104, 'background-color': '#202223', 'position': 'absolute' })
    });
</script>

<div class="brand">
    <input type="hidden" id="tmp_dd" />
    <div class="section">
        <div class="page_1">
            <img class="sec-img" data-full="y" src="{yun:}$style{/yun}/picture/brand_01.jpg" usemap="#map1">
            <map id="map1" name="map1" class="img_map">
                <area shape="rect" coords="427,163,584,199" href="/home_story.action" onclick="this.blur()" />
                <area shape="rect" coords="427,213,584,249" href="/upload/introduction .pdf" onclick="this.blur()" />
            </map>
            </img>
        </div>
    </div>
    <div class="section">
        <div style="width:100%;position: relative;">
            <img id="brand_pro" style="margin-left: -630px;" src="{yun:}$adlist[18].pic{/yun}" />
            <img id="brand_pro_txt" style="position: absolute;left:500px;top:105px;" src="{yun:}$adlist[8].pic{/yun}" />
            <div id="page_3_ctr" style="margin-left: 0px;position:absolute;">
                <ul>
                    {yun:}adlist classid=59 key=key item=left_ad key=key{/yun}
                    <li data-rel="{yun:}$position_list[$key]{/yun}"><img src="{yun:}$left_ad.pic{/yun}" width="62" height="63" /></li>
                    {yun:}/adlist{/yun}
                </ul>
            </div>
        </div>
    </div>
    <div class="section"><img class="sec-img" src="{yun:}$adlist[19].pic{/yun}" /></div>
    <div class="section"><img class="sec-img" src="{yun:}$adlist[20].pic{/yun}" /></div>
    <div class="section">
        <img class="sec-img" src="{yun:}$adlist[21].pic{/yun}" />

        <div class="clear"></div>

        <!--content½áÊø-->
        {yun:}include file="$tplstyle/footer.htm"{/yun}
