<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="{yun:}$style{/yun}/css/tianjia.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="{yun:}$style{/yun}/js/jquery.js"></script>
<script src="{yun:}$style{/yun}/js/jquery-1.10.2.min.js" ></script>
<script src="{yun:}$style{/yun}/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
		<script src="{yun:}$style{/yun}/js/jquery.fullpage.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/common.js"></script>
<script>
    $(function () {
        $(function () {
        $.fn.fullpage({
            slidesColor: ['#83D1E7', '#EBEBEB', '#F2F2F2', '#EAEAEA', '#EAEAEA'],
            anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
            navigation: true,
            afterLoad: function (anchorLink, index) {
                if (index == 2) {
                    $('.section3').find('p').delay(500).animate({
                        bottom: '0'
                    }, 1500, 'easeOutExpo');
                    var i = 0;
                    $("#page_3_ctr >ul> li >img").each(function () {
                        var height = $(this).attr('height');
                        $(this).delay(i * 80).animate({ 'height': 0, 'padding-top': height / 2 });
                        $(this).animate({ 'height': height, 'padding-top': 0 }, 200);
                        i = i + 1;
                    });
                }
            }
        });
        var ch = document.documentElement.clientHeight;
        var cw = document.documentElement.clientWidth;
        $("img.sec-img").each(function () {
            var width = 1920;
            var height = 709;
            var _w = parseInt((ch - 80) * width / height);
            var left = 0 - parseInt((_w - cw) / 2)

            $li_width = $(this).parent().width();
            $(this).css({ 'height': ch - 80, 'width': _w, 'margin-top': 80, 'margin-left': left });
        });
        $("#brand_pro").css({ 'height': ch - 80, 'padding-top': 80 });
        $("#brand_pro_txt").css({ 'height': 70 * (ch - 80) / 709 });
        $("#page_3_ctr").css({ 'left': (cw - 810) / 2, 'top': ch - 63 - 10 });
        $("#page_3_ctr >ul> li").click(function () {
            _left = $(this).attr('data-rel') * (ch - 80) / 709 - cw / 2;
            $("#brand_pro").animate({ 'margin-left': -_left });
        });
        $("#page_3_ctr >ul> li").hover(
            function () {
                if ('h' != $(this).attr('data-h')) {
                    var height = $(this).find('img').attr('height');
                    $(this).find('img').animate({ 'height': 0, 'padding-top': height / 2 }, 200);
                    $(this).find('img').animate({ 'height': height, 'padding-top': 0 }, 200);
                    $(this).attr('data-h', 'h');
                }
            },
            function () { $(this).stop(); $(this).attr('data-h', 'hh'); }
        );

	 });
	  });
</script>
</head>
<body>
<div class="header">
        <div class="header_in">
            <div id="vivo-airbox"></div>
            <div id="vivo-wrap">
                <div id="vivo-head">
                    <div class="vivo-search">
                        <div class="search-box">
                            <form action='/search' method='get' onSubmit="if ($.trim($(this).find('input').val()) == '') {alert('请输入关键词'); return false;} return true;"><input type="text" placeholder="如:E叉车租赁" name='q' class='data_q' autocomplete="off" /><button>搜索</button><a class="close"></a></form>
                            <div class="qk-results">
                                <ul></ul>
                                <div class="other-results"><a href="#">其他搜索结果</a></div>
                            </div>
                        </div>
                    </div><div class="wd">
                    <div class="vivo-nav cl" style="height:0px;">
                        <a href="http://www.e-forklift.cn" class="vivo-logo" title="vivo" style="background-image:none;"><img src="http://www.e-forklift.cn/app/template/default/picture/logo.png" alt="E叉车租赁" /></a>
                        <div id="menu">
                            <ul>
                                                                <li data-ref="1" >
                                    <a href="http://www.e-forklift.cn/index.php">首页</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="2" class="curr">
                                    <a href="http://www.e-forklift.cn/index.php?m=about#page1">E叉品牌</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=aboutcom#page1">品牌故事</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page2">E叉服务</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page3">一贯承诺</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page4">租买对比</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page5">售后关怀</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/article/">E叉动态</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="3" class="">
                                    <a href="http://www.e-forklift.cn/cars/">叉车家族</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/cars/?nid=1">热门车型</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/cars/?nid=2">促销车型</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="4" class="">
                                    <a href="http://www.e-forklift.cn/index.php?m=school">E叉学堂</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=3">叉车安全驾驶</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=1">叉车小故障</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=2">叉车保养</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="71" >
                                    <a href="http://www.e-forklift.cn/index.php?m=yigou">E叉易购</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="72" >
                                    <a href="http://www.e-forklift.cn/index.php?m=hehuoren">E叉合伙人</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="15">
                                    <a href="http://www.e-forklift.cn/index.php?m=contact">联系我们</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au1">二维码</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au3">咨询服务</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au4">联系方式</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au5">在线留言</a></li>
                                                                            </ul>
                                </li>
                                                            </ul>
                        </div>
                        <div class="search-user"><a href="#" class="search"><b></b></a></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="fixed_r">
	<ul>
		<li>1</li>
		<li>2</li>
        <li>3</li>
		<li>4</li>
        <li>5</li>
		
	</ul>
</div>
<div class="num_box">
	<div class="num" id="num_0 page1" style="background:url({yun:}$style{/yun}/picture/brand_01.jpg) no-repeat center;background-size:100% 100%;"></div>  
    <div class="num" id="num_1 page2" style=" background-color:#f2f3f2">
    <div style="width:100%;position: relative;" >
            <img id="brand_pro" style="margin-left: -630px;" src="{yun:}$adlist[18].pic{/yun}" />
            <img id="brand_pro_txt" style="position: absolute;left:500px;top:105px;" src="{yun:}$adlist[8].pic{/yun}" />
            <div id="page_3_ctr" style="margin-left: 0px;position:absolute;">
                <ul>
                    {yun:}adlist classid=59 key=key item=left_ad key=key{/yun}
                    <li data-rel="{yun:}$position_list[$key]{/yun}"><img src="{yun:}$left_ad.pic{/yun}" width="62" height="63" /></li>
                    {yun:}/adlist{/yun}
                </ul>
            </div>
        </div>
        
     </div>
    <div class="num" id="num_2 page3" style="background:url({yun:}$adlist[19].pic{/yun}) no-repeat center; background-size:100% 100%;"> </div>
    <div class="num" id="num_3 page4" style="background:url({yun:}$adlist[20].pic{/yun}) no-repeat center; background-size:100% 100%;"> </div>        
   <div class="num" id="num_4 page5" style="background:url({yun:}$adlist[21].pic{/yun}) no-repeat center; background-size:100% 100%;"> 
    <div class="footerall">
    <div class="footer">
    <div class="wd footer_allone">
    	<p class="footer_nav">
        	 <a href="http://www.e-forklift.cn/index.php">首页</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=about#page1">E叉品牌</a>
                        |<a href="http://www.e-forklift.cn/cars/">叉车家族</a>
                        |<a href="http://www.e-forklift.cn/school/">E叉学堂</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=yigou">E叉易购</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=hehuoren">E叉合伙人</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=contact">联系我们</a>
        </p>
        <p class="footer_alltwo">Copyright 2015 上海法阿姆物流设备有限公司. All right reserved.</p>
        <p class="footer_alltwo">沪ICP备13007043号-2</p>
    	<div class="footer_icno">
        	<p class="footer_icno_p"><span>关注： </span>
            <a class="footer_a1"></a>
            <a class="footer_a2"></a>
            <a class="footer_a3" id="fooo">         
            </a> 
             <div class="footer-weixin" id="foooo"><img src="http://www.e-forklift.cn/app/template/default/picture/liantu.jpg" width="113" height="113"></div>       
            </p>
            <p class="footer_icno_tel">全国服务热线：400-000-3129</p>
        </div>
    </div>
    <script type="text/javascript"> 
$("#fooo").hover(function(){
        (".footer-weixin").toggle();
});
</script>   
  </div>
</div>
</div>
<input type="hidden" value="0" class="ddw"/>
<input type="hidden" value="0" class="ddw2"/>

<script src="{yun:}$style{/yun}/js/lanrenzhijia.js" ></script> 
<script src="{yun:}$style{/yun}/js/jquery.mousewheel.js" ></script>
</body>
</html>
