<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="images/reset.css" rel="stylesheet" type="text/css" />
<link href="images/system.css" rel="stylesheet" type="text/css" />
<link href="images/table_form.css" rel="stylesheet" type="text/css" />
<script>var weburl = '{yun:}$config.sy_weburl{/yun}';</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js"></script>
<script charset="utf-8" src="../js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../js/kindeditor/lang/zh_CN.js"></script>
<link rel="stylesheet" href="../js/kindeditor/themes/default/default.css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="js/admin_public.js" language="javascript"></script>
<script language="javascript">
<!--
KindEditor.ready(function(K) {
	var editor = K.editor({
		allowFileManager : false
	}); 
	K.create('#content', {
		themeType : 'default',
		items : ['source', '|', 'fullscreen', 'undo', 'redo', 'print', 'cut', 'copy', 'paste',
'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
'superscript', '|', 'selectall', '-',
'title', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
'italic', 'underline', 'strikethrough', 'removeformat', '|', 'image',
'flash', 'advtable', 'hr', 'emoticons', 'link', 'unlink','lineheight']		
		
	});
	K('#insertfile').click(function() {
		editor.loadPlugin('images', function() {
			editor.plugin.imageDialog({
				imageUrl : K('#pic_url').val(),
				clickFn : function(url, title, width, height, border, align) {
					K('#pic_url').val(url);
					K('#news_pic').html(url);
					editor.hideDialog();
				}
			});
		});
	});
	K('.pic_file1').click(function () {
	    editor.loadPlugin('images', function () {
	        editor.plugin.imageDialog({
	            imageUrl: K('#pic_file1').val(),
	            clickFn: function (url, title, width, height, border, align) {
	                K('#pic_file1').val(url);
	                editor.hideDialog();
	            }
	        });
	    });
	});
	K('.pic_file2').click(function () {
	    editor.loadPlugin('images', function () {
	        editor.plugin.imageDialog({
	            imageUrl: K('#pic_file2').val(),
	            clickFn: function (url, title, width, height, border, align) {
	                K('#pic_file2').val(url);
	                editor.hideDialog();
	            }
	        });
	    });
	});
	K('.pic_file3').click(function () {
	    editor.loadPlugin('images', function () {
	        editor.plugin.imageDialog({
	            imageUrl: K('#pic_file3').val(),
	            clickFn: function (url, title, width, height, border, align) {
	                K('#pic_file3').val(url);
	                editor.hideDialog();
	            }
	        });
	    });
	});
	K('.pic_file4').click(function () {
	    editor.loadPlugin('images', function () {
	        editor.plugin.imageDialog({
	            imageUrl: K('#pic_file4').val(),
	            clickFn: function (url, title, width, height, border, align) {
	                K('#pic_file4').val(url);
	                editor.hideDialog();
	            }
	        });
	    });
	});
	var colorpicker;
	K('#colorpicker').bind('click', function(e) {
		e.stopPropagation();
		if (colorpicker) {
			colorpicker.remove();
			colorpicker = null;
			return;
		}
		var colorpickerPos = K('#colorpicker').pos();
		colorpicker = K.colorpicker({
			x : colorpickerPos.x,
			y : colorpickerPos.y + K('#colorpicker').height(),
			z : 19811214,
			selectedColor : 'default',
			noColor : '无颜色',
			click : function(color) {
				K('#color').val(color);
				$('#color + font').css('color', color);
				colorpicker.remove();
				colorpicker = null;
			}
		});
	});
	K(document).click(function() {
		if (colorpicker) {
			colorpicker.remove();
			colorpicker = null;
		}
	});
});
//-->
function news_preview(url){
	$(".job_box_div").html("<img src='"+url+"' style='max-width:500px' />");//
 	$.layer({
		type : 1,
		title : '查看图片',
		closeBtn : [0 , true],
		offset : ['20%' , '30%'],
		border : [10 , 0.3 , '#000', true],
		area : ['560px','auto'],
		page : {dom : '#news_preview'}
	}); 
}
function checkform(myform){
  if (myform.title.value=="") {
		parent.layer.msg('请填写叉车标题！', 2,2,function(){myform.title.focus();});return false;
  }
}
</script>

<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
     <span class="admin_title_span">添加叉车</span>
        <a href="index.php?m=cars" class="admin_infoboxp_nav admin_infoboxp_gl">叉车列表</a>
          <em class="admin-tit_line"></em>
        <a href="index.php?m=cars&c=group" class="admin_infoboxp_nav admin_infoboxp_lb">类别管理</a>
  </div>
  <div class="clear"></div>
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form name="myform" target="supportiframe" action="index.php?m=admin_cars&c=addcars" method="post" onSubmit="return checkform(this);">
      <table width="100%" class="table_form"  style="background:#fff;">
        <tr >
          <th width="120">叉车类别：</th>
          <td>
	  {yun:}foreach item=v from=$one_class{/yun}
              <label for="class_{yun:}$v.id{/yun}"><input type="checkbox" name="nid[]" id="class_{yun:}$v.id{/yun}" value="{yun:}$v.id{/yun}" {yun:}if in_array($v.id,$nid_list){/yun} checked='checked'{yun:}/if{/yun}/>{yun:}$v.name{/yun}</label>
      {yun:}/foreach{/yun}            
            &nbsp;&nbsp;<a href="index.php?m=cars&c=group" class="on" style=" text-decoration:none;"><font style="background:#498CD0; color:#FFF; padding:5px 10px 5px 10px;">添加分类</font></a></td>
        </tr>
        <tr class="admin_table_trbg" >
          <th>叉车标题：</th>
          <td><input class="input-text" type="text" name="title" size="40" value="{yun:}$news.title{/yun}" style="width:330px;"/><input type="hidden" name='color' id="color" value="{yun:}$news.color{/yun}" /></td>
        </tr>
          <tr class="admin_table_trbg" style="display:none;">
              <th>关 键 词：</th>
              <td>
                  <input class="input-text" type="text" name="keyword" size="50" value="{yun:}$news.keyword{/yun}" />
                  (多关键字，请用，隔开，为空则自动提取)
              </td>
          </tr>
        <tr style="display:none;">
          <th>描　　述：</th>
          <td><textarea name="description" cols="55" rows="3">{yun:}$news.description{/yun}</textarea></td>
        </tr>
          <tr class="admin_table_trbg"><th>叉车图片：</th><td>
              <label>型号：<input type="text" value="{yun:}$picfiles_list[0][0]{/yun}" name="pic_title[]" /></label>
              <label>名称：<input type="text" value="{yun:}$picfiles_list[0][1]{/yun}" name="pic_code[]" /></label>
                                                         <label>描述：<input type="text" value="{yun:}$picfiles_list[0][2]{/yun}" name="pic_desc[]" /></label>
              <label>图片：<input type="button" value="选择图片" class="pic_file1" />
                  <input type="text" value="{yun:}$picfiles_list[0][3]{/yun}" name="pic_file[]" readonly="readonly" id="pic_file1" style="width:400px;" /></label> 
              </td>
          </tr>
          <tr class="admin_table_trbg">
              <th>叉车图片：</th>
              <td>
                  <label>型号：<input type="text" value="{yun:}$picfiles_list[1][0]{/yun}" name="pic_title[]" /></label>
                  <label>名称：<input type="text" value="{yun:}$picfiles_list[1][1]{/yun}" name="pic_code[]" /></label>
                  <label>描述：<input type="text" value="{yun:}$picfiles_list[1][2]{/yun}" name="pic_desc[]" /></label>
                  <label>
                      图片：<input type="button" value="选择图片" class="pic_file2" />
                      <input type="text" value="{yun:}$picfiles_list[1][3]{/yun}" name="pic_file[]" readonly="readonly" id="pic_file2" style="width:400px;" />
                  </label>
              </td>
          </tr>
          <tr class="admin_table_trbg">
              <th>叉车图片：</th>
              <td>
                  <label>型号：<input type="text" value="{yun:}$picfiles_list[2][0]{/yun}" name="pic_title[]" /></label>
                  <label>名称：<input type="text" value="{yun:}$picfiles_list[2][1]{/yun}" name="pic_code[]" /></label>
                  <label>描述：<input type="text" value="{yun:}$picfiles_list[2][2]{/yun}" name="pic_desc[]" /></label>
                  <label>
                      图片：<input type="button" value="选择图片" class="pic_file3" />
                      <input type="text" value="{yun:}$picfiles_list[2][3]{/yun}" name="pic_file[]" readonly="readonly" id="pic_file3" style="width:400px;" />
                  </label>
              </td>
          </tr>
          <tr class="admin_table_trbg">
              <th>叉车图片：</th>
              <td>
                  <label>型号：<input type="text" value="{yun:}$picfiles_list[3][0]{/yun}" name="pic_title[]" /></label>
                  <label>名称：<input type="text" value="{yun:}$picfiles_list[3][1]{/yun}" name="pic_code[]" /></label>
                  <label>描述：<input type="text" value="{yun:}$picfiles_list[3][2]{/yun}" name="pic_desc[]" /></label>
                  <label>
                      图片：<input type="button" value="选择图片" class="pic_file4" />
                      <input type="text" value="{yun:}$picfiles_list[3][3]{/yun}" name="pic_file[]" readonly="readonly" id="pic_file4" style="width:400px;" />
                  </label>
              </td>
          </tr>
        <tr >
          <th>缩 略 图：</th>
          <td><span id='news_pic'>{yun:}$news.s_thumb{/yun}</span><input type="hidden"  class="input-text" name="uplocadpic"  value="{yun:}$news.s_thumb{/yun}"   id='pic_url' />{yun:}if $news.s_thumb{/yun}<a href="javascript:void(0)" onClick="news_preview('../{yun:}$news.newsphoto{/yun}')" style="margin:0px 10px">查看</a>{yun:}/if{/yun}<input   type="button" id="insertfile" value="选择图片" /></td>
        </tr>
		  <tr class="admin_table_trbg">
              <th>叉车品牌：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_pinpai item=one{/yun}
                  <input type="radio" name="pinpai" value="{yun:}$one{/yun}"
                         {yun:}if $one==$news.pinpai{/yun}checked="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
		  <tr class="admin_table_trbg">
              <th>叉车类型：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_leixing item=one{/yun}
                  <input type="radio" name="leixing" value="{yun:}$one{/yun}"
                         {yun:}if $one==$news.leixing{/yun}checked="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
		  <tr class="admin_table_trbg">
              <th>叉车负载：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_fuzai item=one{/yun}
                  <input type="radio" name="fuzai" value="{yun:}$comclass_name[$one]{/yun}"
                         {yun:}if $comclass_name[$one]==$news.fuzai{/yun}checked ="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
		  <tr class="admin_table_trbg">
              <th>叉车动力源：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_dongliyuan item=one{/yun}
                  <input type="radio" name="dongliyuan" value="{yun:}$one{/yun}"
                         {yun:}if $one==$news.dongliyuan{/yun}checked="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
		  <tr class="admin_table_trbg">
              <th>叉车工作场地：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_gongzuochangdi item=one{/yun}
                  <input type="checkbox" name="gongzuochangdi[]" value="{yun:}$one{/yun}"
                         {yun:}if $one|in_array:$news.gongzuochangdi{/yun}checked="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
		  <tr class="admin_table_trbg">
              <th>叉车提升高度：</th>
              <td>
                  {yun:}foreach from=$comdata.chache_tishenggaodu item=one{/yun}
                  <input type="radio" name="tishenggaodu" value="{yun:}$comclass_name[$one]{/yun}"
                         {yun:}if $comclass_name[$one]==$news.tishenggaodu{/yun}checked ="checked" {yun:}/if{/yun}/>{yun:}$comclass_name[$one]{/yun} &nbsp;
                  {yun:}/foreach{/yun}
              </td>
          </tr>
          <tr class="admin_table_trbg addparams_tr" id="addparams_tr" >
              <th>叉车参数：</th>
              <td>
                  <input value="添加参数" id="addparams" type="button" />
                  <script>
                      $('#addparams').click(
                          function () {
                              $('<tr class="admin_table_trbg addparams_tr" id="addparams_tr"><th>叉车参数：</th><td><label>名称：<input type="text" value="" name="param_key[]"/></label><label>数值：<input type="text" value="" name="param_value[]"/></label><label>排序：<input type="text" value="" name="param_sort[]"/></label> <input value="删除" type="button" onclick="$(this).parent().parent().remove();" /></td></tr>').insertAfter($('.addparams_tr:last'));
                          });
                  </script>
              </td>
          </tr>
          {yun:}foreach from=$params_list item=one key=key{/yun}
          <tr class="admin_table_trbg" id="addparams_tr"><th>叉车参数：</th><td><label>名称：<input type="text" value="{yun:}$one[0]{/yun}" name="param_key[]" /></label><label>数值：<input type="text" value="{yun:}$one[1]{/yun}" name="param_value[]"/></label><label>排序：<input type="text" value="{yun:}$key+1{/yun}" name="param_sort[]" /></label> <input value="删除" type="button" onclick="$(this).parent().parent().remove();" /></td></tr>
          {yun:}/foreach{/yun}
        <tr >
          <th>排　　序：</th>
          <td><input name="sort" type="text"  size="10" class="input-text" value="{yun:}$news.sort{/yun}" /></td>
        </tr>
        <tr class="admin_table_trbg" >
          <td align="center" colspan="2"> 
            {yun:}if $news.id{/yun}
            <input type="hidden" name="id" size="40" value="{yun:}$news.id{/yun}"/>
            <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
            <input class="admin_submit4" type="submit" name="updatenews" value="&nbsp;更 新&nbsp;"  />
            {yun:}else{/yun}
            <input class="admin_submit4" type="submit" name="newsadd" value="&nbsp;添 加&nbsp;"  />
            {yun:}/if{/yun}
            <input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
        </tr>
      </table>
	  <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
    </form>
  </div>
</div>
<div id="news_preview"  style="display:none;width:560px ">
	<div style="height:300px; overflow:auto;width:560px;" >
		<div class="job_box_div" style="text-align:center;margin-top:10px;"></div>
	</div>
</div>
<div id="domainlist" style="display:none;">
<div class="fz_city_news_cont" style="padding:10px;">
<span class="fz_city_news"><label class="fz_label"><input type="radio" name="did" onClick="check_domain('全站')" value="0" checked class="fz_city_news_check">全站</label></span>
{yun:}foreach from=$domain item=list{/yun}
<span class="fz_city_news"><label class="fz_label"><input type="radio" name="did" onClick="check_domain('{yun:}$list.title{/yun}')" {yun:}if $list.id==$news.did{/yun}checked{yun:}/if{/yun} value="{yun:}$list.id{/yun}" class="fz_city_news_check">{yun:}$list.title{/yun}</label></span>
{yun:}/foreach{/yun}
</div>
</div>
</body>
</html>