<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<link href="{yun:}$style{/yun}/css/tianjia.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="{yun:}$style{/yun}/js/jquery.js"></script>
<script src="{yun:}$style{/yun}/js/jquery-1.10.2.min.js" ></script>
<script type="text/javascript" src="{yun:}$style{/yun}/js/common.js"></script>

</head>
<body>
<div class="header">
        <div class="header_in">
            <div id="vivo-airbox"></div>
            <div id="vivo-wrap">
                <div id="vivo-head">
                    <div class="vivo-search">
                        <div class="search-box">
                            <form action='/search' method='get' onSubmit="if ($.trim($(this).find('input').val()) == '') {alert('请输入关键词'); return false;} return true;"><input type="text" placeholder="如:E叉车租赁" name='q' class='data_q' autocomplete="off" /><button>搜索</button><a class="close"></a></form>
                            <div class="qk-results">
                                <ul></ul>
                                <div class="other-results"><a href="#">其他搜索结果</a></div>
                            </div>
                        </div>
                    </div><div class="wd">
                    <div class="vivo-nav cl" style="height:0px;">
                        <a href="http://www.e-forklift.cn" class="vivo-logo" title="vivo" style="background-image:none;"><img src="http://www.e-forklift.cn/app/template/default/picture/logo.png" alt="E叉车租赁" /></a>
                        <div id="menu">
                            <ul>
                                                                <li data-ref="1" >
                                    <a href="http://www.e-forklift.cn/index.php">首页</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="2" class="">
                                    <a href="http://www.e-forklift.cn/index.php?m=about#page1">E叉品牌</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=aboutcom#page1">品牌故事</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page2">E叉服务</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page3">一贯承诺</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page4">租买对比</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=about#page5">售后关怀</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/article/">E叉动态</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="3" class="">
                                    <a href="http://www.e-forklift.cn/cars/">叉车家族</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/cars/?nid=1">热门车型</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/cars/?nid=2">促销车型</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="4" class="">
                                    <a href="http://www.e-forklift.cn/index.php?m=school">E叉学堂</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=3">叉车安全驾驶</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=1">叉车小故障</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=school&nid=2">叉车保养</a></li>
                                                                            </ul>
                                </li>
                                                                <li data-ref="71" class="">
                                    <a href="http://www.e-forklift.cn/index.php?m=yigou">E叉易购</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="72" class="">
                                    <a href="http://www.e-forklift.cn/index.php?m=hehuoren">E叉合伙人</a>
                                    <ul class="sub_menu">
                                                                            </ul>
                                </li>
                                                                <li data-ref="15" class="curr">
                                    <a href="http://www.e-forklift.cn/index.php?m=contact">联系我们</a>
                                    <ul class="sub_menu">
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au1">二维码</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au3">咨询服务</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au4">联系方式</a></li>
                                                                                <li><a href="http://www.e-forklift.cn/index.php?m=contact#au5">在线留言</a></li>
                                                                            </ul>
                                </li>
                                                            </ul>
                        </div>
                        <div class="search-user"><a href="#" class="search"><b></b></a></div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




<div class="fixed_r">
	<ul>
		<li>1</li>
		<li>2</li>
	</ul>
</div>
<div class="num_box">
    {yun:}elseif $adlists@index==$key{/yun}
	<div class="num" id="num_0" style="background:url({yun:}$adlists.pic{/yun}) no-repeat center #03F;"></div>  {yun:}elseif $adlists@index==$key{/yun}
{yun:}else{/yun}  <div class="num" id="num_3" style="background:url({yun:}$adlist[31].pic{/yun}) no-repeat center #03F;"> {yun:}/if{/yun}
            {yun:}/adlist{/yun}
    
    
    
     <div class="footerall">
    <div class="footer">
    <div class="wd footer_allone">
    	<p class="footer_nav">
        	 <a href="http://www.e-forklift.cn/index.php">首页</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=about#page1">E叉品牌</a>
                        |<a href="http://www.e-forklift.cn/cars/">叉车家族</a>
                        |<a href="http://www.e-forklift.cn/school/">E叉学堂</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=yigou">E叉易购</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=hehuoren">E叉合伙人</a>
                        |<a href="http://www.e-forklift.cn/index.php?m=contact">联系我们</a>
        </p>
        <p class="footer_alltwo">Copyright 2015 上海法阿姆物流设备有限公司. All right reserved.</p>
        <p class="footer_alltwo">沪ICP备13007043号-2</p>
    	<div class="footer_icno">
        	<p class="footer_icno_p"><span>关注： </span>
            <a class="footer_a1"></a>
            <a class="footer_a2"></a>
            <a class="footer_a3" id="fooo">         
            </a> 
             <div class="footer-weixin" id="foooo"><img src="http://www.e-forklift.cn/app/template/default/picture/liantu.jpg" width="113" height="113"></div>       
            </p>
            <p class="footer_icno_tel">全国服务热线：400-000-3129</p>
        </div>
    </div>
    <script type="text/javascript"> 
$("#fooo").hover(function(){
        (".footer-weixin").toggle();
});
</script>   
  </div>
</div>
</div>
<input type="hidden" value="0" class="ddw"/>
<input type="hidden" value="0" class="ddw2"/>

<script src="{yun:}$style{/yun}/js/lanrenzhijia.js" ></script> 
<script src="{yun:}$style{/yun}/js/jquery.mousewheel.js" ></script>
</body>
</html>
