html{overflow:hidden;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font-family:"微软雅黑";font-size:12px;color:#000000;word-wrap:break-word;behavior:url("csshover.htc");overflow:hidden;}
button,input,select,textarea{font:12px/1.5  Arial, "宋体", Helvetica,  Verdana, sans-serif;word-wrap:break-word;color:#565756;}
ul,li{list-style:none;margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:100%;} 
img{border:none;border:0;vertical-align:middle;}
a{text-decoration:none;outline:none;}
p{margin:0;padding:0;}
input,select,textarea{vertical-align:middle;*font-size:100%;}
input{margin:0;outline:none;padding:0;}
input::-ms-clear{display:none;}
.clearfix:after{
     content:".";       
     display:block;       
     height:0;       
     clear:both;       
     visibility:hidden;       

}
.clearfix{*zoom:1}

.ddw{position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999;}
.ddw2{position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999;}
.num_box{position:relative;}
.num{width:100%;position:relative;}
.num p{}
.num ul{width:100%;position:absolute;left:0;top:0;height:100%;}
.num ul li{float:left;height:100%;position:relative;}
.fixed_r{position:absolute;right:10px;top:200px;z-index:999;}
.fixed_r li{width:10px;height:10px;border-bottom:1px solid #ccc;line-height:40px;color:#333;font-size:16px;text-align:center;cursor:pointer;border-radius:50%; font-size:0; margin-top:6px; border:1px solid #FFF;}
.fixed_r li.on{background:#fff;}

.msg_qq {
	width: 20%;
	height: 300px;
	top: 25%;
	position: absolute;
	right: 17%
}
.footerall{bottom:0px; height:110px; background:#000; width:100%;}
.footer{ width:100%; height:110px; background:#000; font-size:14px;color:#8a8a8a;}
.wd{ width:1100px; margin:0 auto;}
.footer_allone {position: relative;width:70%;margin: 0 auto;}
.footer_nav{ padding-top:14px; color:#8a8a8a; font-size:14px;}
.footer_nav a{ margin:0 5px; padding:0 3px;color:#8a8a8a;}
.footer_alltwo{color:#8a8a8a; font-size:14px; margin-top:6px;}
.footer_icno{ position:absolute; right:0px; top:15px;}
.footer_icno_p{ position:relative; margin-top:25px; width:250px; height:30px;}
.footer_icno_p span{ position:absolute;top:0px; left:95px;}
.footer_icno a{transition: background 0.2s ease-in-out 0s;background-color:#4d4e4f; border-radius:4px; position:absolute; }
.footer_icno a.footer_a1{ background:#4d4e4f url("../images/sns-ico.png") no-repeat;display: inline-block;height: 27px;overflow: hidden;width: 27px;background-position: -27px 0;top:-10px; right:70px;}
.footer_icno a:hover.footer_a1{ background-color:#14addf;}
.footer_icno a.footer_a2{ background:#4d4e4f url("../images/sns-ico.png") no-repeat;display: inline-block;height: 27px;overflow: hidden;width: 27px;background-position: -54px 0;top:-10px; right:35px;}
.footer_icno a:hover.footer_a2{background-color:#056be8; }
.footer_icno a.footer_a3{ background:#4d4e4f url("../images/sns-ico.png") no-repeat;display: inline-block;height: 27px;width: 27px;background-position: -108px 0;top:-10px; right:0px;}
.footer_icno a:hover.footer_a3{background-color:#20a900;}
.footer_icno_tel{ color:#ED7627; font-size:16px; height:15px; line-height:15px;width:250px; text-align:right}
.footer-weixin{ width:113px; height:113px; position:absolute; top:-107px; left:174px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);background: #FFFFFF;border-radius: 2px; padding:3px; display:none}
/*在线留言*/
/***********************/

.area-sixth{width: 100%;height: 609px;	background: #F9F9F9;	z-index: 1;}

.areasix-wrap{	width: 1000px;	margin: 0px auto;	position: relative;}

.areasix-wrap .areasix-top{	text-align: center;	padding-bottom: 20px;}

.areasix-top .areasix-tit{

	position: relative;

	padding-left: 345px;

	text-align: center;

}

.areasix-top .areasix-tit span.linebd{

	float: left;

	display: inline-block;

	width: 66px;

	height: 1px;

	background: #666;

	opacity: 0.22;

	position: relative;

	top: 27px;

}

.areasix-top .areasix-tit strong{

	float: left;

	display: inline-block;

	font-weight: bold;

	font-size: 36px;

	line-height: 54px;

	color: #666;

	font-family: "微软雅黑";

	padding: 0 19px;

}

.areasix-top span.en{

	display: inline-block;

	font-size: 14px;

	line-height: 14px;

	color: #666;

	opacity: 0.34;

	font-family: "微软雅黑";

	margin-bottom: 15px;

}

.areasix-wrap  .areasix-form{
	padding-left: 100px;
	padding-top: 15px;
	padding-right: 180px;
	width: 720px;
	overflow: hidden;
	background: url(../images/img_72.png) no-repeat center top;
	position: relative;

}

.areasix-form table td{

	font-size: 16px;

	color: #666;

	font-family: "微软雅黑";

}

.areasix-form table td.form-font{

	font-size: 16px;

	color: #666;

	width: 90px;

	text-align: left;

}

.areasix-form table td.form-inputfir input{

	display: inline-block;

	width: 216px;

	height: 31px;

	border: 1px solid #e0e0e0;

	background: #fff;

	font-size: 16px;

	line-height: 31px;

	color: #666;

	font-family: "微软雅黑";

	padding: 0px 5px;

}

.areasix-form table td.form-inputthi{

	padding-left: 18px;

}

.areasix-form table td.form-inputthi input{

	display: inline-block;

	margin-left: 9px;

	margin-right: 30px;

}

.areasix-form table td.form-inputsec select{

	display: inline-block;

	width: 232px;

	height: 31px;

	border: 1px solid #e0e0e0;

	background: #fff;

	font-size: 16px;

	line-height: 31px;

	color: #666;

	font-family: "微软雅黑";

	padding: 0px 5px;

}

.areasix-form table td.form-inputfou select{

	display: inline-block;

	width: 120px;

	height: 31px;

	border: 1px solid #e0e0e0;

	background: #fff;

	font-size: 16px;

	line-height: 31px;

	color: #666;

	font-family: "微软雅黑";

	padding: 0px 5px;

	margin-right: 10px;

}

.tianjia-one{}
.tianjia-two{ position:absolute; top:50%; height:320px; margin-top:-190px; left:0; right:0;}
.areasix-form table td.form-text textarea{
	float: left;
	display: inline-block;
	width: 490px;
	height: 80px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding: 5px;
}
.areasix-form table td.form-text textarea#content{ width:800px;}

.areasix-form table td.form-inputfou input{

	float: left;

	display: inline-block;

	width: 113px;

	height: 31px;

	border: 1px solid #e0e0e0;

	background: #fff;

	padding: 0px 5px;

	font-size: 16px;

	line-height: 31px;

	color: #666;

	font-family: "微软雅黑";

	margin-right: 3px;

}

.areasix-form table td.form-inputfou img{

	float: left;

	vertical-align: middle;

}

.areasix-form table td.form-inputfif input{

	display: inline-block;

	width: 209px;

	height: 45px;

	background: url(../images/img_71.jpg) no-repeat left center;

	border:none;

	font-size: 16px;

	line-height: 45px;

	color: #fff;

	font-family: "微软雅黑";

}

.areasix-form .Bigico{

	position: absolute;

	right: -107px;

	bottom: -138px;

	width: 330px;

	height: 330px;

	overflow: hidden;

}

.areasix-form .mesbox{

	position: absolute;

	top: 190px;

	right: 20px;

	border: 2px solid #ff7200;

    padding: 15px 12px;

    width: 243px;

}

.areasix-form .mesbox h3{

	display: block;

	color: #ff7200;

    font-size: 14px;

    font-weight: bold;

    line-height: 24px;

    overflow: hidden;

}

.areasix-form .mesbox span.arrows{

	background: url(../images/winsj.jpg) no-repeat left center;

    top: 60px;

    display: inline-block;    

    width: 5px;

    height: 8px;

    left: -7px;

    position: absolute;

}

.areasix-form .mesbox .mesbox-size p{

	cursor: pointer;

}

.areasix-form .mesbox .mesbox-size p:hover{

	color: #0c62b5;

}
/*header*/
.wd{ width:1100px; margin:0 auto;}
.header{top:0;background-color:#fff;width:100%;opacity:1;position:fixed;_position:absolute;z-index:999;}
.header_in{-moz-width:1920px;min-width:960px;margin:0 auto;}
#menu{height:100%;vertical-align:middle;font-size:14px;position:absolute;padding-left:400px;top:0;line-height:80px;}
#menu>ul{padding:0}
#menu>ul>li {width:80px;height:80px;line-height:82px;float:left;text-align:center;position: relative;z-index: 10;}
#menu>ul>li.curr{background:#154FA1;}
#menu>ul>li.currt{background:#154FA1;}
#menu>ul>li.curr > a{color:#fff;}
#menu>ul>li.currt > a{color:#fff;}
#menu>ul>li>a {width:80px;float:left;color:#656565;overflow:hidden;text-decoration:none;}
.sub_menu{background-color: #F9F9F9;display: none;left: 0;overflow: hidden;position: absolute;top: 80px;z-index: 100;padding-left:0;}
.sub_menu > li{width:100px;line-height: 30px;cursor: pointer;text-align: left;}
.sub_menu > li:hover{background-color:#154FA1;color:#FFF;}
.sub_menu > li > a{padding: 12px 0 0 15px;text-decoration: none;}
.sub_menu > li:hover a{color:#FFF;}
#menu li.back{background-color:#8CBF39;height:80px;overflow:hidden;z-index:8;position:absolute;}
#content{width:960px;margin:0 auto;position:relative}
.submenu{position:relative}

.submenu_list{background:#F9F9F9;padding:0 10px;z-index:10;position:absolute;left:0;top:40px;line-height:0;opacity:0.8}
.submenu_list ul{margin:0;padding:0}
.submenu_list li{height:20px;float:left;display:block;list-type-style:none;font-size:12px;}
.submenu_list li a{color:#8C8C8C;}

/*--a-common--*/
#vivo-airbox,#airbox{width:100%; position:fixed; _position:absolute; top:0; left:0; z-index:999;}
#gotop{width:50px; height:50px; position:absolute; top:200px; right:40px; z-index:100;}
#gotop a{width:50px; height:50px; overflow:hidden; display:block; background:#008cd6 url(../images/top-ico.gif) no-repeat;  background:rgba(0,0,0,.3) url(../images/top-ico.png) no-repeat; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; transition:all .3s ease-in-out; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px;}
#gotop a:hover{background-color:#008cd6;}
#vivo-wrap,#vivo-head,#vivo-contain,#vivo-foot{z-index:1; position:relative;}
#vivo-contain{background: #fafafa; min-height: 750px;}
.home #vivo-contain{background: #fff;}
.search-user b{background:url(../images/vivo-head-ico.png) no-repeat; _background-image:url(../images/vivo-head-ico.gif) ;}
#video_layer{width: 100%; min-height: 300px; background: #fff; background: rgba(255,255,255,.88); position: fixed; top: 0; left: 0; z-index: 1;}
#video_layer .video-obox{width: 650px; height: 300px;  background1: #fff; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -325px;}
#video_layer .video-obox .videoo{margin: 10px; background1: #000;}
#video_layer .video-obox a.close{width: 30px; height: 30px; overflow: hidden; position: absolute; top: 5px; right: -30px; background: url(../images/vivo-video-ico.png) no-repeat;}
#video_layer .video-obox a.close:hover{background-position: 0 -30px;}
/*--z-common--*/

/*--a-navigation--*/

#vivo-head .vivo-nav{width:1100px; height:60px;background:#fff; position:relative; z-index:999;}
.vivo-nav a.vivo-logo{width:300px; height:80px; display:block; float:left; overflow: hidden; background-image: url(../images/logo.png); background-image: -webkit-image-set(url(../images/vivo-logo.png) 1x, url(../images/vivo-logo-x2.png) 2x); background-image: -moz-image-set(url(../images/vivo-logo.png) 1x, url(../images/vivo-logo-x2.png) 2x); background-repeat: no-repeat;}

.vivo-nav .search-user{float:right; height:60px;}
.search-user a{width:42px; height:42px; display:inline-block; margin-left:15px; position:relative; top:8px; border:1px #e7e7e7 solid; background:#fff; overflow:hidden; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; border-radius:50%; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.search-user a:hover,.search-user a.current{border:1px #008cd6 solid; background:#008cd6;}
.search-user a b{width:42px; height:42px; display:block; position:absolute; top:0; left:0; -webkit-transition-delay:.1s; -moz-transition-delay:.1s; -ms-transition-delay:.1s; transition-delay:.1s;}
.search-user a.search b{background-position:0 0;}
.search-user a.search:hover b,.search-user a.search.current b{background-position:0 -43px;}
.search-user a.user b{background-position:-43px 0;}
.search-user a.user b img{width: 42px; height: 42px;}
.search-user a.user:hover b,.search-user a.user.current b{background-position:-43px -43px;}

#vivo-head .vivo-search{height:80px; width:100%; background:#202223; position:relative; z-index: 9999; display:none;}
.vivo-search .search-box{width:700px; height:40px; position:absolute; top:20px; left:50%; margin-left:-350px; background:#666; -webkit-box-shadow:0 1px 2px rgb(0,0,0); -moz-box-shadow:0 1px 2px rgb(0,0,0); -ms-box-shadow:0 1px 2px rgb(0,0,0); box-shadow:0 1px 2px rgb(0,0,0); position: relative; z-index: 9999;}
.vivo-search .search-box input{width:550px; height:20px; padding:10px 20px; font-size:14px; color:#555; border:none; background:#fff; overflow:hidden; vertical-align:middle;}
.vivo-search .search-box button{width:110px; height:40px; overflow:hidden; text-align:center; font-size:14px; color:#fff; border:none; overflow:hidden; vertical-align:middle;
 background:#ea592d; outline:none; cursor:pointer; -webkit-transition:background .2s ease-in-out; -moz-transition:background .2s ease-in-out; -ms-transition:background .2s ease-in-out; transition:background .2s ease-in-out;}
.vivo-search .search-box button:hover{background:#154fa1;}
.vivo-search .search-box button:active{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.3) inset; -moz-box-shadow:0 1px 2px rgba(0,0,0,.3) inset; -ms-box-shadow:0 1px 2px rgba(0,0,0,.3) inset; box-shadow:0 1px 2px rgba(0,0,0,.3) inset;}
.vivo-search .search-box a.close{width:24px; height:24px; position:absolute; top:8px; right:-40px; background:url(../images/vivo-head-ico.png) -86px 0 no-repeat; _background-image:url(../images/vivo-head-ico.gif);}
.vivo-search .search-box a.close:hover{background-position:-86px -25px;}
.vivo-search .search-box .qk-results{width: 588px; position: absolute; left: 0; top: 40px; border: 1px #eee solid; border-top:none; display: none;}
.vivo-search .search-box .qk-results ul li{display: block; position: relative; background: #fff; border-top: 1px #eee solid;}
.vivo-search .search-box .qk-results ul li a{display: block; padding: 10px; position: relative; color: #666; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.vivo-search .search-box .qk-results ul li a b{width: 60px; height: 60px; float: left; overflow: hidden; margin-right: 10px;}
.vivo-search .search-box .qk-results ul li a h2{font-weight: bold; padding-bottom: 2px; margin-top: 12px;}
.vivo-search .search-box .qk-results ul li a span{display: inline-block; position: absolute; right: 15px; top: 30px; font-size: 14px;}
.vivo-search .search-box .qk-results ul li a:hover{color: #fff; background: #00aaff;}
.vivo-search .search-box .qk-results .other-results{padding: 10px; background: #fff; border-top: 1px #eee solid;}
.vivo-search .search-box .qk-results .other-results a{font-size: 14px; color:#00aaff; }

.vivo-menu-series{position:absolute; top:60px; left:0; height:46px; width:100%; background:#fff; background:rgba(255,255,255,.95); border-top:1px #e7e7e7 solid; border-bottom:1px #e4e4e4 solid; display:none; z-index:11;}
.vivo-menu-series dl{display:block; width:600px; height:46px; margin:auto; overflow:hidden; position: relative;}
.vivo-menu-series dl dd{display:block; float:left;}
.vivo-menu-series dl dd a{display:block; width:120px; height:166px; position:relative; overflow: hidden; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out;}
.vivo-menu-series dl dd a:hover,.vivo-menu-series dl dd a.current{background-color:#ea582b; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
.vivo-menu-series dl dd a h2{text-align: center; color: #666; font-size: 16px; font-weight: normal; position: relative; top: 10px; -webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; transition:all .3s ease-in-out;}
.vivo-menu-series dl dd a:hover h2,.vivo-menu-series dl dd a.current h2{color: #fff;}


 .wrapper {width:100%;margin:0 auto;position:relative;}
 #page_3 {width:100%;height:846px;background:#f2f2f2;overflow:hidden;position:relative;}
 #page_3_img {display:block;position:relative; }
 #page_3_img li {position:absolute;top:0;left:0;width:100%;height:846px;background-position:center;background-size:cover;display:none}
 #page_3_img li.item1{background-image:#f2f2f2;display:block}

 .ad_img {position:absolute;right:10px;top:77px;width:506px;height:600px;background:url(../images/brand_process.png) no-repeat scroll center center;width:100%;overflow:hidden}
 #page_3_ctr {position:absolute;margin-left:-480px;z-index:1}
 #page_3_ctr ul {position:relative}
 #page_3_ctr li {display:block;float:left;cursor:pointer;margin-right:24px;height: 64px;}

 #page_3_ctr li.last-item {width:76px;cursor:pointer;margin-right:0}
 #drag_ctr {position:absolute;top:-14px;left:0;width:78px;height:156px;bottom:170px;}
 #drag_arrow {position:absolute;top:-14px;left:0;width:78px;height:156px;}

 .page_4{width:100%;background:#44bcbc;height:867px}
 .page_4_1{width:100%;background:url(../images/brand_bg.png) repeat-y scroll center center;height:867px;position:relative;}
 .page_nav{color:#fff;font-size:20px;padding-bottom:44px}
 .page_nav a{color:#fff;}
 .page_nav ul{padding-left:0;}
 .page_nav li{display:inline;cursor: pointer;float:left;width:245px;border:3px solid #fff;margin-right:166px;height:37px;line-height:37px;text-align:center;}
 .page_nav li a{color:#fff}
 .page_nav .curr{background:#149c9c;border:3px solid #149c9c}
 
/*ppt banner eg*/
.hhr-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-hhr1900.jpg); background-size:cover;background-position:center;}
.hhr-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-hhr1900.jpg); background-size:cover;background-position:center;}
.eg-banner1{ background-image:url(http://www.e-forklift.cn/app/template/default/images/1-eg1900.jpg); background-size:cover;background-position:center;}
.eg-banner2{ background-image:url(http://www.e-forklift.cn/app/template/default/images/2-eg1900.jpg); background-size:cover;background-position:center;}
.lxwm-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-lx1900.jpg);background-size:cover;background-position:center;}
.lxwm-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-lx1900.jpg);background-size:cover;background-position:center;}
.lxwm-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-lx1900.jpg);background-size:cover;background-position:center;}
.pp-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-pp1900.jpg); background-size:cover;background-position:center;}
.pp-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-pp1900.jpg); background-size:cover;background-position:center;}
.pp-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/4-pp1920.jpg); background-size:cover;background-position:center;}
.pp-banner4{background-image:url(http://www.e-forklift.cn/app/template/default/images/5-pp1900.jpg); background-size:cover;background-position:center;}
/*
@media screen and (min-width: 1400px) and (max-width: 1450px) {
.hhr-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-hhr1430.jpg); background-size:100% 100%;}
.hhr-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-hhr1430.jpg); background-size:100% 100%;}
.eg-banner1{ background-image:url(http://www.e-forklift.cn/app/template/default/images/1-eg1430.jpg); background-size:100% 100%;}  
.eg-banner2{ background-image:url(http://www.e-forklift.cn/app/template/default/images/2-eg1430.jpg); background-size:100% 100%;} 
.lxwm-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-lx1430.jpg); background-size:100% 100%;}
.lxwm-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-lx1430.jpg); background-size:100% 100%;}
.lxwm-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-lx1430.jpg); background-size:100% 100%;}
.pp-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-pp1430.jpg); background-size:100% 100%;}
.pp-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-pp1430.jpg); background-size:100% 100%;}
.pp-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/4-pp1430.jpg); background-size:100% 100%;}
.pp-banner4{background-image:url(http://www.e-forklift.cn/app/template/default/images/5-pp1430.jpg); background-size:100% 100%;}
} 
@media screen and (min-width: 1590px) and (max-width: 1610px) {
	.hhr-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-hhr1600.jpg); background-size:100% 100%;}
.hhr-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-hhr1600.jpg); background-size:100% 100%;}
.eg-banner1{ background-image:url(http://www.e-forklift.cn/app/template/default/images/1-eg1600.jpg); background-size:100% 100%;}  
.eg-banner2{ background-image:url(http://www.e-forklift.cn/app/template/default/images/2-eg1600.jpg); background-size:100% 100%;} 
.lxwm-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-lx1600.jpg); background-size:100% 100%;}
.lxwm-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-lx1600.jpg); background-size:100% 100%;}
.lxwm-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-lx1600.jpg); background-size:100% 100%;}
.pp-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-pp1600.jpg); background-size:100% 100%;}
.pp-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-pp1600.jpg); background-size:100% 100%;}
.pp-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/4-pp1600.jpg); background-size:100% 100%;}
.pp-banner4{background-image:url(http://www.e-forklift.cn/app/template/default/images/5-pp1600.jpg); background-size:100% 100%;}
} 
@media screen and (min-width: 1700px) and (max-width: 2000px) {
	.hhr-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-hhr1900.jpg); background-size:100% 100%;}
.hhr-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-hhr1900.jpg); background-size:100% 100%;}
.eg-banner1{ background-image:url(http://www.e-forklift.cn/app/template/default/images/1-eg1900.jpg); background-size:100% 100%;}  
.eg-banner2{ background-image:url(http://www.e-forklift.cn/app/template/default/images/2-eg1900.jpg); background-size:100% 100%;} 
.lxwm-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-lx1900.jpg); background-size:100% 100%;}
.lxwm-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-lx1900.jpg); background-size:100% 100%;}
.lxwm-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-lx1900.jpg); background-size:100% 100%;}
.pp-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-pp1900.jpg); background-size:100% 100%;}
.pp-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-pp1900.jpg); background-size:100% 100%;}
.pp-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/4-pp1900.jpg); background-size:100% 100%;}
.pp-banner4{background-image:url(http://www.e-forklift.cn/app/template/default/images/5-pp1900.jpg); background-size:100% 100%;}
} 

@media screen and (max-width: 1390px) { 
.hhr-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-hhr1360.jpg); background-size:100% 100%;}
.hhr-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-hhr1360.jpg); background-size:100% 100%;}
.eg-banner1{ background-image:url(http://www.e-forklift.cn/app/template/default/images/1-eg1360.jpg); background-size:100% 100%;} 
.eg-banner2{ background-image:url(http://www.e-forklift.cn/app/template/default/images/2-eg1360.jpg); background-size:100% 100%;} 
.lxwm-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-lx1360.jpg); background-size:100% 100%;}
.lxwm-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/2-lx1360.jpg); background-size:100% 100%;}
.lxwm-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-lx1360.jpg); background-size:100% 100%;}
.pp-banner1{background-image:url(http://www.e-forklift.cn/app/template/default/images/1-pp1360.jpg); background-size:100% 100%;}
.pp-banner2{background-image:url(http://www.e-forklift.cn/app/template/default/images/3-pp1360.jpg); background-size:100% 100%;}
.pp-banner3{background-image:url(http://www.e-forklift.cn/app/template/default/images/4-pp1360.jpg); background-size:100% 100%;}
.pp-banner4{background-image:url(http://www.e-forklift.cn/app/template/default/images/5-pp1360.jpg); background-size:100% 100%;}
}
*/